@import url("ozozka-theme.css");

:root {
  --oz-fs-s: 10.8px;
  --oz-fs-m: 13.2px;
  --oz-fs-b: 16.2px;

  --oz-lay-s: 6px;
  --oz-lay-m: 12px;
  --oz-lay-b: 36px;

  *:not(.titlebar-buttonbox-container *) {
    font-family: sans !important;
  }
  --zen-primary-color: var(--oz-col-p) !important;
  --toolbox-text-color: var(--oz-col-b) !important;
  --toolbox-textcolor: var(--oz-col-f) !important;
  --zen-toolbar-element-bg: var(--oz-col-b) !important;
  --zen-colors-border: var(--oz-col-o) !important;
  --zen-urlbar-background-base: var(--oz-col-b) !important;
}

/* popup menu */
menu:hover,
menuitem:hover,
menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"] {
  background-color: var(--oz-col-o) !important;
  color: var(--oz-col-f) !important;
}

menu[disabled="true"],
menuitem[disabled="true"] {
  color: var(--oz-col-m) !important;
}

menu,
menuitem {
  color: var(--oz-col-f) !important;
}

menupopup {
  --panel-background-color: var(--oz-col-b) !important;
  --panel-text-color: var(--oz-col-f) !important;
  --panel-border-color: var(--oz-col-o) !important;
}

menuseparator {
  color: var(--oz-col-m) !important;
}

/* remove left panel scrollbar */
scrollbox:nth-child(5) {
  scrollbar-width: none !important;
}

/* custom status panel */
#statuspanel-label {
  border-radius: 0 !important;
  padding: var(--oz-lay-s) !important;
  border: none !important;
  color: var(--oz-col-f) !important;
  background: var(--oz-col-b) !important;
}

/* custom font sizes */
.findbar-container {
  font-size: var(--oz-fs-b) !important;
}

/* remove split borders */
#tabbrowser-tabpanels[zen-split-view="true"] .browserSidebarContainer.deck-selected {
  outline: var(--zen-colors-border) !important;
}

/* custom urlbar */
#urlbar {
  font-size: var(--oz-fs-b) !important;
  .urlbar-input {
    color: var(--oz-col-f) !important;
  }
  &[breakout="true"] {
    .urlbar-background {
      background: color-mix(in srgb, var(--oz-col-b) 88%, transparent) !important;
      backdrop-filter: none !important;
      border-radius: var(--oz-lay-m) !important;
      border: none !important;
    }
  }
}

.urlbarView-row {
  border-radius: var(--oz-lay-m) !important;
  &[selected] {
    background-color: var(--oz-col-o) !important;
    color: var(--oz-col-f) !important;
  }
}

.urlbarView-favicon {
  background-color: transparent !important;
}
.urlbarView-body-inner {
  border: none !important;
}
#urlbar-anon-search-settings {
  margin-right: 0px !important;
}

.search-one-offs {
  border-top: none !important;
  border-radius: 0px !important;
  padding: 4px !important;
  margin: 0px 0px 6px 0px !important;
  backdrop-filter: none !important;
}

.searchbar-engine-one-off-item {
  border-radius: 0px !important;
  margin-right: 3px !important;
}

/* tab colors */
#tabbrowser-tabs {
  font-size: var(--oz-fs-m) !important;

  .tabbrowser-tab {
    &[pending="true"] {
      .tab-content {
        color: var(--oz-col-m) !important;
      }
      .tab-icon-stack {
        filter: grayscale(1) !important;
        opacity: 0.42 !important;
      }
    }
    &[selected] {
      .tab-background {
        background: var(--oz-col-o) !important;
      }
    }

    &[zen-essential="true"] {
      .tab-background {
        &::before {
          background: transparent !important;
          box-shadow: none !important;
        }
        &::after {
          background: transparent !important;
        }
      }
    }

    /* left close button */
    &:not([zen-essential="true"]) {
      min-height: var(--oz-lay-b) !important;
      height: var(--oz-lay-b) !important;
      max-height: var(--oz-lay-b) !important;

      .tab-content:hover .tab-icon-stack {
        display: none !important;
      }
      .tab-content:hover .tab-close-button {
        order: -1 !important;
      }
      .tab-content[selected] .tab-close-button {
        display: none !important;
      }
      .tab-content[selected]:hover .tab-close-button {
        display: inherit !important;
      }

      .tab-icon-image,
      .tab-close-button {
        margin-left: 3.6px !important;
        margin-right: 9.6px !important;
        padding: 3px !important;
      }

      .tab-icon-image {
        width: 14.4px !important;
        height: 14.4px !important;
      }

      .tab-close-button {
        width: 21.6px !important;
        height: 21.6px !important;
        margin-right: 8.4px !important;
        color: var(--oz-col-f) !important;
      }

      .tab-close-button:hover {
        color: var(--oz-col-s) !important;
      }
    }
  }
}
